 body {
    margin: 0;
    padding: 0;
    background: #222;
    display: flex;
    width: 100vw;
    height: 100vh;
}

#id-canvas {
    margin: auto;
}

.controls {
    position: fixed;
    bottom: 0;
    right: 0;
    background: #eeeeee;
    padding: 1rem;
    line-height: 2rem;
}
